<!DOCTYPE html>
<html lang="pt-br" ng-app="CsvApp">
<head>
    <meta charset="UTF-8">
    <title>CsvApp</title>

    <link href="bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div ng-controller="UsersController" class="container">

    <div class="row">
        <div class="col m12 s12 xs-dist">
            <div class="peach-gradient header">
                <h3 class="white-text">{{ title }}</h3>
            </div>
            <form name="form">
                <div class="input-field col m6 s12">
                    <input id="name" type="text" ng-model="user.name" class="validate" required="true">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col m6 s12">
                    <input id="address" type="text" ng-model="user.address" class="validate" required="true">
                    <label for="address">Address</label>
                </div>
                <div class="input-field col m6 s12">
                    <input id="phone" type="tel" ng-model="user.phone" class="validate" required="true">
                    <label for="phone">Phone</label>
                </div>
                <div class="input-field col m6 s12">
                    <input id="email" type="email" ng-model="user.email" class="validate" required="true">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
                <div class="input-field col m12 s12">
                    <!-- FEEDBACK MESSAGE -->
                    <div ng-bind-html="feedback"></div>
                    <!-- END FEEDBACK -->
                    <button class="btn blue right xs-separate" ng-click="createUser(user)">Add</button>
                    <button type="reset" class="btn btn-flat right xs-separate">Reset</button>
                </div>
            </form>
        </div>

        <div class="col m12 s12">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{ user.name }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="bower_components/angular/angular.min.js"></script>

<script src="js/app.js"></script>
<script src="js/app.controller.js"></script>
<script src="js/app.factory.js"></script>
<script src="js/app.constants.js"></script>

<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/materialize/dist/js/materialize.min.js"></script>

</body>
</html>